html {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Lora', serif;
}

h1{
	font-size: 21px;
	margin-top: 0;
	margin-left: 5px;
}

#map {
	height: 100%;
	width: 100%;
}

#expBar {
	position: absolute;
	top: 0;
	height: 160px;
	width: 100%;
	z-index: 400;
	background: rgba(255, 255, 255, 0.9);
	color: #555;
	padding: 7px;
	box-sizing: border-box;
}

.leaflet-tile-pane{
	opacity: .6;
}


/* Left side of the Top Bar*/
	#titles{
	float: left;
	width: 40%;
	}

	#title {
		font-family: 'Lobster';
		padding-top: 22px;
		font-size: 36px;
		line-height: 38px;
	/*	text-transform: uppercase;
		font-style: italic;
		letter-spacing: 7px;*/
		text-align: center;
	}

	#controls {
		font-size: 13px;
		padding-top: 19px;
		font-size: 18px;
		margin-top: -8px;
		text-align: center;
	}

/* Right side of the Top Bar*/

	#information {
		float: right;
		width: 60%;
	}

	#photo {
		float: left;
		margin-right: 10px;
	}

	#locationStats {
		font-size: 12px;
		max-width: 550px;
	}

	#titlePlate {
		background-color: white
	}

/*Key*/

#infoBox {
	position: absolute;
	bottom: 25px;
	right: 25px;
	background: rgba(255, 255, 255, 0.95);
	color: #555;
	outline: 2px solid white;
	outline-offset: 3px;
    z-index: 10000000;
    position: fixed;
    background-color: white;
    padding: 15px;
    }

.keyImg{
	height: 25px;
	}

#infoTitle{
	text-align: center;
    font-size: 15px;
    font-style: oblique;
    padding-bottom: 11px;
}

#infoText{
	text-align: left;
	font-size: 10px;
	padding-bottom: 10px;
}